DELETE_FILE	|HOMEOFFICEROLL[0-9]_[0-9]{8}.*\.CSV			|90	|f	|/ADT/archive/acl					|N/A						|Y
DELETE_FILE	|[0-9]{4}_20[0-9]{2}_[0-9]{2}_[0-9]{2}.*\.xml		|90	|f	|/ADT/archive/oag					|N/A						|Y
DELETE_FILE	|ssm_output_[0-9]{4}-[0-9]{2}-[0-9]{2}.*\.csv		|90	|f	|/ADT/archive/ssm					|N/A						|Y
DELETE_FILE	|ssm_output_[0-9]{4}-[0-9]{2}-[0-9]{2}.*\.trg		|90	|f	|/ADT/archive/ssm					|N/A						|Y
DELETE_FILE	|oag_[0-9]{8}\.log					|365	|f	|/ADT/log						|N/A						|Y
DELETE_FILE	|acl_[0-9]{8}\.log					|365	|f	|/ADT/log						|N/A						|Y
DELETE_FILE	|sftp_oag_[0-9]{8}\.log					|365	|f	|/ADT/log						|N/A						|Y
DELETE_FILE	|sftp_acl_[0-9]{8}\.log					|365	|f	|/ADT/log						|N/A						|Y
DELETE_FILE	|ssm_[0-9]{8}\.log					|365	|f	|/ADT/log						|N/A						|Y
DELETE_FILE	|DQ_File_Retention_[0-9]{8}\.log			|365	|f	|/ADT/log						|N/A						|Y